<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
    v-for:基于数据循环，多次渲染整个元素 -> 数组，对象，数字
        遍历数组语法：
            v-for="(item,index) in arr"
                item:当前项
                index:当前项索引
                arr:数组名
    -->
    <div id="app">
        <h3>水果店</h3>
        <ul>
            <li v-for="item in List" :key = 'item.id'>
                {{ item }}
            </li>
        </ul>
    </div>
    <!-- 
    补充知识点：给列表项添加唯一标识。便于Vue进行列表项的正确排序复用
    一般都是 :key = 'item.id'
    -->


    <script src="./Vue.js">
    </script>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                List: ['西瓜', '苹果', '鸭梨']
            }
        })
    </script>
</body>
</html>